* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
// expanding all elements from html down to next.js jsx wrapper
html,
body,
#__next,
#__next > div,
#__next > div > div {
  height: 100%;
  width: 100%;
}

// icomoon fonts
@import './fonts/style.scss';
